	<div id="match1" class="match m<%= game_counter %>">
	  <p class="slot slot1 c1%>" title="" id="slot1">
      <% #if ((game.swap? and game.id < 300) or (game.swap? and game_counter!=0 and game.id >=300 )) and game.home_team != nil and game.visitor_team != nil %>
        <% #round = (game.id / 100) - 1 %>
        <% #if (game.swap == 1 or ((round == 2 and game_counter != 0) or round > 2)) %>
    <% if game.swap == 1 %>
      <% temp = game.home_team %>
      <% temp_points = game.home_points %>
      <% game.home_team = game.visitor_team %>
      <% game.home_points = game.visitor_points %>
      <% game.visitor_team = temp %>
      <% game.visitor_points = temp_points %>
    <% end %>
		<% if game.home_team == nil %>
			<span class="seed"></span><em class="time"></em>
		<% elsif game.home_points == nil%>
			<span class="seed"><%= game.home_team.seed %></span><%= icon_for_team(game.home_team.link) %><span style="background-color: <%= user_for_pick(game.home_team, 1).color %>"><%= game.home_team.abbrev %></span> <em class="time"><%= game.time.strftime("%b %e") %></em>
		<% elsif game.state.name == 'live'%>
			<span class="inprogress"><span class="seed"><%= game.home_team.seed %></span><%= icon_for_team(game.home_team.link) %><span style="background-color: <%= user_for_pick(game.home_team, 1).color %>"><%= game.home_team.abbrev %></span> <em class="score"><%= game.home_points %></em></span>
		<% else %>
			<% wl = (game.home_points > game.visitor_points) ? "strong" : "strike"%>
	    	<<%= wl %>><span class="seed"><%= game.home_team.seed %></span><%= icon_for_team(game.home_team.link) %><span style="background-color: <%= user_for_pick(game.home_team, 1).color %>"><%= game.home_team.abbrev %></span> <em class="score"><%= game.home_points %></em></<%= wl %>>
		<% end %>
	  </p>
	    <p class="slot slot2 c1" title="" id="slot1">
		<% if game.visitor_team == nil%>
			<span class="seed"></span><em class="time"></em>
		<% elsif game.visitor_points == nil%>
			<span class="seed"><%= game.visitor_team.seed %></span><%= icon_for_team(game.visitor_team.link) %><span style="background-color: <%= user_for_pick(game.visitor_team, 1).color %>"><%= game.visitor_team.abbrev %></span> <em class="time"><%= game.time.strftime("%l:%Mp")%></em>
		<% elsif game.state.name == 'live'%>
			<span class="inprogress"><span class="seed"><%= game.visitor_team.seed %></span><%= icon_for_team(game.visitor_team.link) %><span style="background-color: <%= user_for_pick(game.visitor_team, 1).color %>"><%= game.visitor_team.abbrev %></span> <em class="score"><%= game.visitor_points %></em></span>
		<% else %>
	  		<% wl = (game.home_points > game.visitor_points) ? "strike" : "strong" %>
	    	<<%= wl %>><span class="seed"><%= game.visitor_team.seed %></span><%= icon_for_team(game.visitor_team.link) %><span style="background-color: <%= user_for_pick(game.visitor_team, 1).color %>"><%= game.visitor_team.abbrev %></span> <em class="score"><%= game.visitor_points %></em></<%= wl %>>
	    <% end %>
	  </p>
	</div>
