<script type='text/javascript'>
  $.ajax({
    type: 'get',
    url: 'update',
    dataType: 'json',
    success: function(data) {
       // do something
      if(!window.location.hash) {
        window.location = window.location + '#updated';
        window.location.reload();
      }
    }
  })
</script>

<center>
  <button type="button" onClick="refreshPage()">Refresh</button>
  <h2>Shively NCAA Bracket <%= Date.today.year %></h2>

  <script>
      function refreshPage() {
        var loc = window.location.href,
        index = loc.indexOf('#');

        if (index > 0) {
          window.location = loc.substring(0, index);
        }
      }
  </script>

  <a href="http://github.com/azurewraith/march-madness"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
	<table class="scoreTable">
	<tr>
	<% @users.each_with_index do |user, i| %>
	  <% if i % 3 == 0 %>
		  <tr>
		<% end %>
			<td style = "background-color:<%= user.color %>"><%= user.name %></td>
			<td class="userScore" align="center"><%= user.points %></td>
		<% if i % 3 == 0 %>
		<!--</tr>-->
		<% end %>
	<% end %>
	</table>
	<!--<h5>March Madness Tweet: <%= @blurb %></h5>-->
</center>
    <div align=center id="table">
      <!-- Table Dates -->
      <table class="gridtable">
        <tr>
          <th class="round_1 current">
            2nd ROUND
          </th>
          <th class="round_2 ">
            3rd ROUND
          </th>
          <th class="round_3">
            SWEET 16
          </th>
          <th class="round_4">
            ELITE 8
          </th>
          <th class="round_5">
            FINAL FOUR
          </th>
          <th class="round_6">
            CHAMPION
          </th>
          <th class="round_5">
            FINAL FOUR
          </th>
          <th class="round_4">
            ELITE 8
          </th>
          <th class="round_3">
            SWEET 16
          </th>
          <th class="round_2">
            3rd ROUND
          </th>
          <th class="round_1 current">
            2nd ROUND
          </th>
        </tr>
        <tr>
          <td>
            March 20-21
          </td>
          <td class="current">
            March 22-23
          </td>
          <td>
            March 27-28
          </td>
          <td>
            March 29-30
          </td>
          <td>
            April 5
          </td>
          <td>
            April 7
          </td>
          <td>
            April 5
          </td>
          <td>
            March 29-30
          </td>
          <td>
            March 27-28
          </td>
          <td class="current">
            March 22-23
          </td>
          <td>
            March 20-21
          </td>
        </tr>
      </table>
    </div>
    <!-- Bracket -->
    <div id="bracket">
      <div id="round1" class="round">
        <h3>
          Round One (2014 NCAA Men's Basketball Tournament)
        </h3><!-- start region1 -->
        <div class="region region1">
          <h4 class="region1 first_region">
            <%= @regions[1].name %>
          </h4>
		  <%= partial(:game, :collection => @nw_quad_round_1) %>
        </div><!-- /.region1 -->
        <!-- start region2 -->
        <div class="region region2">
          <h4 class="region2 first_region">
            <%= @regions[2].name %>
          </h4>
          <%= partial(:game, :collection => @sw_quad_round_1) %>
        </div><!-- /.region2 -->
        <!-- start region3 -->
        <div class="region region3">
          <h4 class="region3 first_region">
            <%= @regions[3].name %>
          </h4>
          <%= partial(:game, :collection => @ne_quad_round_1) %>
        </div><!-- /.region3 -->
        <!-- start region4 -->
        <div class="region region4">
          <h4 class="region4 first_region">
            <%= @regions[4].name %>
          </h4>
          <%= partial(:game, :collection => @se_quad_round_1) %>
        </div><!-- /.region4 -->
      </div><!-- /#round1 -->
      <div id="round2" class="round">
        <h3>
          Round Two (2010 NCAA Men's Basketball Tournament)
        </h3>
        <div class="region region1">
          <h4 class="region1">
            <%= @regions[1].name %>
          </h4>
          <%= partial(:game, :collection => @nw_quad_round_2) %>
        </div><!-- /.region1 -->
        <div class="region region2">
          <h4 class="region2">
            <%= @regions[2].name %>
          </h4>
          <%= partial(:game, :collection => @sw_quad_round_2) %>
        </div>
        <div class="region region3">
          <h4 class="region3">
            <%= @regions[3].name %>
          </h4>
          <%= partial(:game, :collection => @ne_quad_round_2) %>
        </div><!--/.region3-->
        <div class="region region4">
          <h4 class="region4">
            <%= @regions[4].name %>
          </h4>
          <%= partial(:game, :collection => @se_quad_round_2) %>
        </div><!--/.region4-->
      </div>
      <div id="round3" class="round">
        <h3>
          Round Three (2010 NCAA Men's Basketball Tournament)
        </h3>
        <div class="region region1">
          <h4 class="region1">
            <%= @regions[1].name %>
          </h4>
          <%= partial(:game, :collection => @nw_quad_round_3) %>
        </div><!-- /.region1 -->
        <div class="region region2">
          <h4 class="region2">
            <%= @regions[2].name %>
          </h4>
          <%= partial(:game, :collection => @sw_quad_round_3) %>
        </div>
        <div class="region region3">
          <h4 class="region3">
            <%= @regions[3].name %>
          </h4>
          <%= partial(:game, :collection => @ne_quad_round_3) %>
        </div><!-- /.region3 -->
        <div class="region region4">
          <h4 class="region4">
            <%= @regions[4].name %>
          </h4>
          <%= partial(:game, :collection => @se_quad_round_3) %>
        </div><!-- /.region4 -->
      </div>
      <div id="round4" class="round">
        <h3>
          Round Four (2010 NCAA Men's Basketball Tournament)
        </h3>
        <div class="region region1">
          <h4 class="region1">
            <%= @regions[1].name %>
          </h4>
          <%= partial(:game, :collection => @nw_quad_round_4) %>
        </div><!-- /.region1 -->
        <div class="region region2">
          <h4 class="region2">
            <%= @regions[2].name %>
          </h4>
          <%= partial(:game, :collection => @sw_quad_round_4) %>
        </div><!-- /.region2 -->
        <div class="region region3">
          <h4 class="region3">
            <%= @regions[3].name %>
          </h4>
          <%= partial(:game, :collection => @ne_quad_round_4) %>
        </div><!--/.region3-->
        <div class="region region4">
          <h4 class="region4">
            <%= @regions[4].name %>
          </h4>
          <%= partial(:game, :collection => @se_quad_round_4) %>
        </div><!--/#region4-->
      </div>
      <div id="round5" class="round">
        <h3>
          Round Five (2010 NCAA Men's Basketball Tournament)
        </h3>
        <div class="region">
          <%= partial(:game, :collection => @final_four) %>
        </div>
      </div>
      <div id="round6" class="round">
        <h3>
          Round Six (2010 NCAA Men's Basketball Tournament)
        </h3>
        <div class="region">
          <%= partial(:game, :collection => @final) %>
        </div>
      </div>
    </div>
    <% #binding.pry %>